wrfout/
data/
credentials.json
token.json
oath.txt
token.json
*.json
*.log
*.csv
*.nc
*.nc.part
*.yaml
*__pycache__*
*ipynb*
*.html*
*.tif*
shapefiles/
png_out/
*Miniconda3-latest-Linux-x86_64.sh*
.envrc
.venv


